[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
jupyter = "*"
jupyterlab = "*"
sympy = "*"
qtconsole = "*"
pandas = "*"
pyqt5 = "*"
tqdm = "*"
jupyterlab-code-formatter = "*"
black = "*"
isort = "*"
ipympl = "*"

[dev-packages]

[requires]
python_version = "3.10"
