[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
jupyterlab = "*"
sympy = "*"
qtconsole = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
